In [50]:
import pandas as pd

In [51]:
listing = pd.read_csv('Data/listings.csv')

In [52]:
listing = listing[
    ['id', 'listing_url',
       'description', 'neighborhood_overview', 'host_id',
       'host_url', 'host_since', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_verifications',
       'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 
       'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable']
]

In [53]:
reviews = pd.read_csv('Data/reviews.csv')   
reviews.drop(['id', 'reviewer_id'], axis=1, inplace=True)
reviews.rename(columns={'listing_id': 'id'}, inplace=True)
reviews.head()

,id,date,reviewer_name,comments
0,2737,2014-12-26,Raphaell,"This spot was in a great and nice area,walking..."
1,2737,2015-01-04,Ia,"Elif was really very helpful, while arranging ..."
2,2737,2015-04-12,Julia,"Elif's flat is spacious, clean, and had everyt..."
3,2737,2015-04-22,Sevil,I had a wonderful time staying with Elif and h...
4,2737,2015-05-08,Suzy,"Elif was a brilliant host, with an exceptional..."

In [54]:
data_filtered = pd.merge(reviews, listing, on='id', how='left')

In [55]:
data = data_filtered.dropna()

In [56]:
data.isna().sum()

id                             0
date                           0
reviewer_name                  0
comments                       0
listing_url                    0
description                    0
neighborhood_overview          0
host_id                        0
host_url                       0
host_since                     0
host_about                     0
host_response_time             0
host_response_rate             0
host_acceptance_rate           0
host_is_superhost              0
host_verifications             0
host_identity_verified         0
neighbourhood                  0
neighbourhood_cleansed         0
latitude                       0
longitude                      0
property_type                  0
room_type                      0
accommodates                   0
bathrooms                      0
bathrooms_text                 0
bedrooms                       0
beds                           0
amenities                      0
price                          0
minimum_nights                 0
maximum_nights                 0
number_of_reviews              0
review_scores_rating           0
review_scores_accuracy         0
review_scores_cleanliness      0
review_scores_checkin          0
review_scores_communication    0
review_scores_location         0
review_scores_value            0
instant_bookable               0
dtype: int64

In [60]:
concatenated_comments = data.groupby('id')['comments'].agg(lambda x: '. '.join(x.dropna())).reset_index()
concatenated_comments.columns = ['id', 'concatenated_comments']

In [63]:
data_merged = pd.merge(concatenated_comments, data, on='id', how='left')

In [64]:
data_merged.shape

(785189, 42)