In [2]:
import pandas as pd

In [3]:
listing = pd.read_csv('Data/listings.csv')

In [4]:
listing = listing[
    ['id', 'listing_url',
       'description', 'neighborhood_overview', 'host_id',
       'host_url', 'host_since', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_verifications',
       'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 
       'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable']
]

In [5]:
reviews = pd.read_csv('Data/reviews.csv')   
reviews.drop(['id', 'reviewer_id'], axis=1, inplace=True)
reviews.rename(columns={'listing_id': 'id'}, inplace=True)
reviews.head()

,id,date,reviewer_name,comments
0,2737,2014-12-26,Raphaell,"This spot was in a great and nice area,walking..."
1,2737,2015-01-04,Ia,"Elif was really very helpful, while arranging ..."
2,2737,2015-04-12,Julia,"Elif's flat is spacious, clean, and had everyt..."
3,2737,2015-04-22,Sevil,I had a wonderful time staying with Elif and h...
4,2737,2015-05-08,Suzy,"Elif was a brilliant host, with an exceptional..."

In [28]:
concatenated_comments = reviews.groupby('id')['comments'].agg(lambda x: '. '.join(x.dropna())).reset_index()
concatenated_comments.columns = ['id', 'concatenated_comments']

id                       0
concatenated_comments    0
dtype: int64

In [30]:
data_merged = pd.merge(concatenated_comments, listing, on='id', how='left')

In [37]:
data = data_merged.dropna()